*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login{
  height: 100vh;
  background: linear-gradient(120deg, purple, pink, rgba(6, 210, 247, 0.829));
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  min-height: 400px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.87);
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-login{
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  border: unset;
  outline: none;
  position: relative;
}

.input-border{
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #fcfcfc;
  transition: .3s ease-in-out;
}

.input-border::after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin-bottom: 16px ;
  background: linear-gradient(120deg, purple, pink, rgba(6, 210, 247, 0.829));
  transform: .3s ease-in-out;
}

.input-login:focus + .input-border::after {
  width: 100%;
}

.input-border.error {
  background-color: red;
}

.input-border.error::after {
  background-color: red;
}

.submit{
  height: 48px;
  width: 100%;
  padding-left: 8px;
  outline: none;
  position: relative;
  background: linear-gradient(120deg, purple, pink, rgba(6, 210, 247, 0.829));
  margin-bottom: 32px;
  color: #726d6d;
  font-size: 16px;
  font-weight: bold;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5 ease;
}

.submit:disabled {
  background-color: #acacac;
  cursor: not-allowed;
}

.submit:hover{
  background-position: right;
  color: white;
  font-size: 20px;
  width: 110%;
  height: 50px; 
}

.submit.success {
  background-color: rgb(18, 151, 107);
}

.submit.error {
  background: red;
}

.reset{
  font-size: 12px;
  color: #726d6d;
  text-decoration: none;
}

.reset:hover{
  color: purple;
  font-size: 15px;
  font-weight: bold;
}